<!-- Login Container Area -->
<div class="container loginContainer bg-dark">
    <form method="post" action="/login">
        <% if(messages.error) { %>
            <div id="errMessage" class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
            <% } %>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-light">Email Address:</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-info">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-light">Password:</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-light" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary contactButton">Submit</button>
    </form>
</div>