<div class="messagecontainer">
    <div class="meassageArea">
        <div class="textArea"></div>
        <div class="restArea">
            <input type="text" name="" id="writtenText" placeholder="Enter message!!!!!">
            <button class="btn btn-outline-dark" id="userSend" type="button">Send</button>
        </div>
    </div>
</div>